<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test verbose="2" name="moengage Test">
		<parameter name="browser" value="chrome" />
		<parameter name="Url" value="inViaUrl" />
		<classes>
			<class name="com.moengage.app.restCase.CreateCampaignTestCase" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->